Epitech/Research/logement/valeursfoncieres-2019.txt
Epitech/Research/logement/valeursfoncieres-2020.txt
Epitech/Research/logement/valeursfoncieres-2021.txt
Epitech/Research/logement/valeursfoncieres-2022.txt
